<style>
    table, th, td {
  border: 1px solid black;
        font-weight: normal;
}
</style>

{% extends 'base.html' %}

    
{% block content %}
<h1>Project Summary</h1>
<p>In this project, using data from the International Trade Administration's <a href = "https://www.trade.gov/ita-metropolitan-export-series">Metropolitan Export Series (2005 - 2023)</a>, I followed export volumes of United States Metropolitan Statistical Areas (MSA) over time. Taking data from other sources, I modeled how factors from general economic conditions to employment in the manufacturing sector, state policies like minimum wage and corporate income taxes, and exogenous factors like weather could impact export volumes. After training several machine learning models on the data, the best models were selected and incorporated into this site.
</p>
<p>There are two models:<br/><br/>
<b>Changed Conditions</b>: This model seeks to apply the concept of <i>ceteris paribus</i> to the MSA. All else staying the same, if the average temperature increased by 5 degrees or the corporate income tax rate was lower by a percentage point, how would we expect the export volumes to change?<br/><br/>
<b>Forecast</b>: This model seeks to forecast the next year's exports based on the same factors. Can we predict how this year's conditions will impact next year's output?
</p>
<p>I hope you find the models and the questions that they raise interesting.</p>

<section>
    <h2>Variables</h2>
<p>For more on the variables used, see the table below.</p>
<table>
    <tr>
        <th><b>Variable Name</b></th>
        <th><b>Description</b></th>
        <th><b>Source</b></th>
    </tr>
    <tr>
        <th>Per Capita Income</th>
        <th>The total personal income of the MSA divided by the population of the MSA as reported by the BEA.</th>
        <th><a href = https://www.bea.gov/data/income-saving/personal-income-county-metro-and-other-areas>The Bureau of Economic Analysis</a></th>
    </tr>
    <tr>
        <th>Population</th>
        <th>The population of the MSA as measured by the U.S. Census Bureau</th>
        <th>Acquired from the <a href = https://www.bea.gov/data/income-saving/personal-income-county-metro-and-other-areas>Bureau of Economic Analysis</a></th>
    </tr>
    <tr>
        <th>Manufacturing Employment</th>
        <th>The Bureau of Labor Statistics reported number of people employed in the manufacturing sector for the MSA.</th>
        <th>Acquired from the <a href = https://fred.stlouisfed.org/>Federal Reserve Economic Database (FRED)</a></th>
    </tr>
    <tr>
        <th>Top Corporate Tax Rate</th>
        <th>The top corporate income tax rate of the state with encompassing most of the MSA reported by the State Corporate Income Tax Rates (2002 to 2023) Report from the Tax Policy Center.</th>
        <th><a href = https://taxpolicycenter.org/statistics/state-corporate-income-tax-rates>Tax Policy Center</a></th>
    </tr>
    <tr>
        <th>FHFA Housing Price Index</th>
        <th>The FHFA's calculation of the change in housing prices over time. It "measures average price changes in repeat sales or refinancings on the same properties."</th>
        <th>Acquired from the <a href = https://fred.stlouisfed.org/>Federal Reserve Economic Database (FRED)</a></th>
    </tr>
    <tr>
        <th>Sum of Cooling Degree Days and Heating Degree Days</th>
        <th>The sum of Cooling Degree Days and Heating Degree Days in the region encompassing the primary portion of the MSA as measured by NOAA. For more on what Heating and Cooling Degree Days are, see <a href = https://www.weather.gov/ffc/degdays>this resource</a> from NOAA.</th>
        <th><a href = https://www.ncei.noaa.gov/pub/data/cirs/climdiv/>NOAA National Centers for Environmental Information Climate Data</a></th>
    </tr>
    <tr>
        <th>Average Temperature</th>
        <th>The average temperature of the region encompassing the primary portion of the MSA as measured by NOAA.</th>
        <th><a href = https://www.ncei.noaa.gov/pub/data/cirs/climdiv/>NOAA National Centers for Environmental Information Climate Data</a></th>
    </tr>
    <tr>
        <th>Minimum Wage</th>
        <th>The minimum wage in the state with encompassing most of the MSA.</th>
        <th><a href = https://www.dol.gov/agencies/whd/state/minimum-wage/history>Department of Labor State Minimum Wage History</a></th>
    </tr>
    <tr>
        <th>S&P 500 Closing Price</th>
        <th>The value of the S&P 500 at the close of the year</th>
        <th><a href = https://www.investing.com/indices/us-spx-500-historical-data>Investing.com Historical Data</a></th>
    </tr>
    <tr>
        <th>Last/This Year's Export Volumes</th>
        <th>Volumes of Exports for the MSA as measured by the ITA.</th>
        <th><a href = https://www.trade.gov/ita-metropolitan-export-series>ITA MES Series</a></th>
    </tr>
</table>
</section>

{% endblock %}